
:root{
    --colorsiena: #c4a15a;
    --colorceleste: #c8f0ee1e;
    --coloreverde: #aacb93;
    --colorazul: #274c65;
    --colorblanco: #ffffff;
    font-family: Arial, Helvetica, sans-serif !important; 
    box-sizing: border-box;
}

body{
    height: fit-content;
    background-image: linear-gradient(to bottom, var(--colorceleste), var(--coloreverde));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    height: 30vh;
    z-index: 7800;
    box-shadow: 0px 4px 6px rgba(0.1, 0, 0, 0.1);
}

.navbar{
    background-color: var(--coloreverde);
}

nav button{
    border: none !important;
    border: 1px !important;
}

nav button:hover{
    border: none !important;

}

.menu-end{
    display: flex;
    justify-content: end;
    text-align: end;
    
}

#logo{
    height: 30vh;
    position: absolute;
    left: 1em;
    top: 2vh;
    z-index: 9999;
}


* main{
    height: 100vh;
   
}

.sections{
    height: 30vh;
    background-color: var(--colorblanco);
    margin: 2% 0;
    border-radius: 5px;

}
h1{
    color: var(--colorsiena);
}



footer{
    background-color: var(--coloreverde);
    height: 20px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
    color: rgb(43, 43, 43);
    height: 3em;
}
